Repository Day-fit/Florae, pull requests merged in 2025-06, with the labels that each got.

#48 Fix missing semicolon in LOCAL_URL constant definition
  florae-frontend/.env.development
  florae-frontend/src/App.jsx
  florae-frontend/src/Components/auth-modal.jsx
  florae-frontend/src/Components/header.jsx
  florae-frontend/src/Components/user-menu.jsx
  florae-frontend/src/store/user-context.jsx
Labels: enhancement

#55 Add footer
  florae-frontend/src/App.jsx
  florae-frontend/src/Components/footer.jsx
  florae-frontend/src/util/footer-data.js
Labels: enhancement

#56 Add plant creation feature and refactor components
  florae-frontend/src/Components/create-plant.jsx
  florae-frontend/src/Components/devices-page.jsx
  florae-frontend/src/Components/plants-page.jsx
  florae-frontend/src/util/form-validiation.js
Labels: enhancement

#78 Jwt secret rotation
  src/main/java/pl/Dayfit/Florae/Auth/FloraeKeyLocator.java
  src/main/java/pl/Dayfit/Florae/Events/JWTRotationEvent.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/JWTRotationService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/JWTService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/SecretKeysService.java
  src/main/resources/application.properties
  src/test/java/pl/Dayfit/Florae/Services/JWTServiceTest.java
Labels: enhancement, security, java, backend

#77 Refactor components to utilize UiContext for modal and view management
  florae-frontend/package-lock.json
  florae-frontend/package.json
  florae-frontend/src/App.jsx
  florae-frontend/src/Components/animated-modal.jsx
  florae-frontend/src/Components/api-key-producer.jsx
  florae-frontend/src/Components/auth-modal.jsx
  florae-frontend/src/Components/button.jsx
  florae-frontend/src/Components/create-plant.jsx
  florae-frontend/src/Components/devices-card.jsx
  florae-frontend/src/Components/devices-page.jsx
  florae-frontend/src/Components/footer.jsx
  florae-frontend/src/Components/header.jsx
  florae-frontend/src/Components/home-page.jsx
  florae-frontend/src/Components/logging-functions.jsx
  florae-frontend/src/Components/main-section.jsx
  florae-frontend/src/Components/plant-card.jsx
  florae-frontend/src/Components/timer.jsx
  florae-frontend/src/Components/useCreatePlant.jsx
  florae-frontend/src/Components/user-menu.jsx
  florae-frontend/src/RootApp.jsx
  florae-frontend/src/store/ui-context.jsx
  florae-frontend/src/util/axios-client.js
  florae-frontend/src/util/footer-data.js
  florae-frontend/src/util/getCsrfToken.js
  florae-frontend/src/util/home-page-data.js
  florae-frontend/src/util/plants-page-data.js
  florae-frontend/src/util/refresh-function.js
Labels: documentation, cleaning, patch, frontend

#82 frontend-applying-esp-config
  florae-frontend/src/Components/auth-modal.jsx
  florae-frontend/src/Components/close-button.jsx
  florae-frontend/src/Components/devices-page.jsx
  florae-frontend/src/Components/esp-configuration.jsx
  florae-frontend/src/Components/home-page.jsx
  florae-frontend/src/Components/logging-functions.jsx
  florae-frontend/src/Components/plants-page.jsx
  florae-frontend/src/util/form-validiation.js
  florae-frontend/src/util/getCsrfToken.js
  florae-frontend/src/util/refresh-function.js
Labels: enhancement, help wanted, cleaning, frontend

#84 Implement API key revocation event handling and update related services
  src/main/java/pl/Dayfit/Florae/Entities/FloraLink.java
  src/main/java/pl/Dayfit/Florae/Entities/Plant.java
  src/main/java/pl/Dayfit/Florae/Events/ApiKeyRevokedEvent.java
  src/main/java/pl/Dayfit/Florae/Helpers/SpEL/FloraLinkHelper.java
  src/main/java/pl/Dayfit/Florae/Repositories/JPA/FloraLinkRepository.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/API/ApiKeyCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/API/ApiKeyService.java
  src/main/java/pl/Dayfit/Florae/Services/FloraLinkCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/FloraLinkService.java
  src/main/java/pl/Dayfit/Florae/Services/PlantCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/PlantsService.java
Labels: cleaning, security, patch, java, backend

#85 Update pom.xml to enhance project description and add missing dependencies
  pom.xml
Labels: patch, dependencies, java, backend

#90 Add enable-ble endpoint and refactor FloraLink-related classes for improved functionality
  src/main/java/pl/Dayfit/Florae/Auth/UserPrincipal.java
  src/main/java/pl/Dayfit/Florae/Controllers/FloraLinkController.java
  src/main/java/pl/Dayfit/Florae/Controllers/FloraeUserController.java
  src/main/java/pl/Dayfit/Florae/Controllers/PlantsController.java
  src/main/java/pl/Dayfit/Florae/DTOs/FloraeUsers/FloraeUserLoginDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/FloraeUsers/FloraeUserRegisterDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/FloraeUsers/FloraeUserResponseDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Plants/PlantFetchDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Plants/PlantRequirementsDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Plants/PlantResponseDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Plants/PlantSetNameDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Plants/PlantSetVolumeDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Sensors/Commands/Command.java
  src/main/java/pl/Dayfit/Florae/DTOs/Sensors/Commands/CommandMessage.java
  src/main/java/pl/Dayfit/Florae/DTOs/Sensors/EnableBleDTO.java
  src/main/java/pl/Dayfit/Florae/Entities/ApiKey.java
  src/main/java/pl/Dayfit/Florae/Entities/Sensors/DailyReportData.java
  src/main/java/pl/Dayfit/Florae/Enums/CommandType.java
  src/main/java/pl/Dayfit/Florae/Handlers/FloraLinkStreamHandler.java
  src/main/java/pl/Dayfit/Florae/Interceptors/ApiHandshakeInterceptor.java
  src/main/java/pl/Dayfit/Florae/Repositories/JPA/FloraLinkRepository.java
  src/main/java/pl/Dayfit/Florae/Repositories/JPA/FloraeUserRepository.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/FloraeUserCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/FloraeUserDetailsService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/JWT/FloraeUserService.java
  src/main/java/pl/Dayfit/Florae/Services/FloraLinkService.java
  src/main/java/pl/Dayfit/Florae/Services/PlantRequirementsService.java
  src/main/java/pl/Dayfit/Florae/Services/PlantsService.java
  src/main/java/pl/Dayfit/Florae/Services/WebSockets/RedisMessageService.java
  src/main/java/pl/Dayfit/Florae/Services/WebSockets/SessionService.java
  src/main/resources/application.properties
  src/test/java/pl/Dayfit/Florae/Controllers/FloraeUserControllerTest.java
Labels: enhancement, java, sensors, backend

#91 Redesign of floralink software
  Floralink/data/florae_logo.png
  Floralink/data/florae_logo_full.png
  Floralink/data/global.js
  Floralink/data/index.html
  Floralink/data/index.js
  Floralink/data/settings.html
  Floralink/data/settings.js
  Floralink/data/style.css
  Floralink/platformio.ini
  Floralink/src/floralink.cpp
  florae-frontend/src/Components/esp-configuration.jsx
  florae-frontend/vite.config.js
  nginx.conf
  src/main/java/pl/Dayfit/Florae/Configurations/RedisConfiguration.java
  src/main/java/pl/Dayfit/Florae/Controllers/ApiKeyController.java
  src/main/java/pl/Dayfit/Florae/Controllers/FloraLinkController.java
  src/main/java/pl/Dayfit/Florae/Controllers/PlantsController.java
  src/main/java/pl/Dayfit/Florae/DTOs/Sensors/DailySensorDataDTO.java
  src/main/java/pl/Dayfit/Florae/DTOs/Sensors/EnableBleDTO.java
  src/main/java/pl/Dayfit/Florae/Entities/FloraLink.java
  src/main/java/pl/Dayfit/Florae/Entities/Redis/DailyReport.java
  src/main/java/pl/Dayfit/Florae/Entities/Sensors/CurrentReportData.java
  src/main/java/pl/Dayfit/Florae/Entities/Sensors/CurrentSensorData.java
  src/main/java/pl/Dayfit/Florae/Entities/Sensors/DailyReportData.java
  src/main/java/pl/Dayfit/Florae/Entities/Sensors/DailySensorData.java
  src/main/java/pl/Dayfit/Florae/Enums/CommandType.java
  src/main/java/pl/Dayfit/Florae/Enums/SensorDataType.java
  src/main/java/pl/Dayfit/Florae/ExceptionHandlers/GlobalExceptionHandler.java
  src/main/java/pl/Dayfit/Florae/Exceptions/ApiKeyAssociationException.java
  src/main/java/pl/Dayfit/Florae/Exceptions/AssociationException.java
  src/main/java/pl/Dayfit/Florae/Exceptions/DeviceOfflineException.java
  src/main/java/pl/Dayfit/Florae/Handlers/Channels/ChannelMessagingHandler.java
  src/main/java/pl/Dayfit/Florae/Handlers/FloraLinkStreamHandler.java
  src/main/java/pl/Dayfit/Florae/Interceptors/ApiHandshakeInterceptor.java
  src/main/java/pl/Dayfit/Florae/Other/RedisSchemaReset.java
  src/main/java/pl/Dayfit/Florae/Repositories/JPA/DailyReportDataRepository.java
  src/main/java/pl/Dayfit/Florae/Repositories/Redis/DailyReportRepository.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/API/ApiKeyCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/Auth/API/ApiKeyService.java
  src/main/java/pl/Dayfit/Florae/Services/DailyReportDataCacheService.java
  src/main/java/pl/Dayfit/Florae/Services/FloraLinkService.java
  src/main/java/pl/Dayfit/Florae/Services/PlantsService.java
  src/main/java/pl/Dayfit/Florae/Services/WebSockets/SessionService.java
  src/main/resources/application.properties
Labels: enhancement, help wanted, cleaning, java, sensors, backend

#97 Refactor DevicesCard and DevicesPage components to utilize WebSocket …
  florae-frontend/src/Components/create-plant.jsx
  florae-frontend/src/Components/edit-plant.jsx
  florae-frontend/src/Components/esp-configuration.jsx
  florae-frontend/src/Components/plant-card.jsx
  florae-frontend/src/Components/plants-page.jsx
  florae-frontend/src/Components/useCreatePlant.jsx
Labels: enhancement, frontend

#104 frontend-web-sockets
  florae-frontend/src/App.jsx
  florae-frontend/src/Components/animated-modal.jsx
  florae-frontend/src/Components/create-plant.jsx
  florae-frontend/src/Components/devices-page.jsx
  florae-frontend/src/Components/edit-plant.jsx
  florae-frontend/src/Components/esp-configuration.jsx
  florae-frontend/src/Components/plant-card.jsx
  florae-frontend/src/Components/plants-page.jsx
Labels: enhancement, patch, frontend

#115 hotfixes
  florae-frontend/src/Components/devices-card.jsx
  florae-frontend/src/Components/main-section.jsx
  florae-frontend/src/Components/useWebSockets.jsx
Labels: enhancement, patch, frontend

#114 Add wateringDate to FloraLink and update watering logic in FloraLinkService
  src/main/java/pl/Dayfit/Florae/Entities/FloraLink.java
  src/main/java/pl/Dayfit/Florae/Services/FloraLinkService.java
Labels: sensors, backend
