Repository Day-fit/Florae, pull requests merged in 2025-05, with the labels that each got.

#41 Enhance CSRF protection by using CookieCsrfTokenRepository
  src/main/java/pl/Dayfit/Florae/Configurations/SecurityConfiguration.java
Labels: enhancement, security, java

#43 Added minor improvements for csfr logic that should improve the whole proccess
  src/main/java/pl/Dayfit/Florae/Configurations/SecurityConfiguration.java
  src/main/java/pl/Dayfit/Florae/Controllers/CsrfController.java
Labels: security, patch, java

#45 Add HomePage and refactor auth flow with improved UI/UX
  florae-frontend/src/App.jsx
  florae-frontend/src/Components/header.jsx
  florae-frontend/src/Components/home-page.jsx
  florae-frontend/src/Components/main-section.jsx
  florae-frontend/src/Components/text-component.jsx
  florae-frontend/src/assets/logo.png
  florae-frontend/src/assets/smaller-logo.png
  florae-frontend/src/util/home-page-data.js
Labels: enhancement
